.navi{
    width:150px;
    border:rgb(97, 61, 164) solid 2px;
    border-radius: 10%;
}

.tarjeta {
    display:flex;
    border: 2px dotted green;
    margin: 0 auto;
    width:400;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background:rgb(61, 97, 164);
    border-bottom: 5px solid blue;
    border-radius: 20%;
}